@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>This is my test ASP.NET C# Web Application. It is written using VSCode - C# Dev Kit as the Prgramming langage & SQLite for DB management.</p>
    <br>
    <p>Click the Jokes tab to see a list of jokes. Feel free to add some of your own (registration requirements have been removed).</p>
</div>
